{% extends 'halaman/base.html' %}
{% load static %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Temukan Berita Yang Menakjubkan Dan Menyenangkan Untuk Dibaca.</h4>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">We are nerd rockstars</h2>
                    <h5 class="description">Saya adalah seorang pembuat web yang berfokus pada menyajikan berita yang informatif dan selektif melalui situs-situs yang saya kembangkan. Saya memprioritaskan keakuratan informasi serta memastikan bahwa konten yang disajikan bermanfaat dan relevan bagi pengguna. Dengan menggunakan kriteria seleksi yang ketat, saya berupaya untuk menghadirkan berita-berita yang memiliki dampak dan nilai signifikan, sehingga membantu pembaca dalam memahami berbagai isu terkini secara mendalam dan terpercaya..</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3, center">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/marc.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Vicky Drajat Fathillah</h4>
                            <h6 class="category text-muted">Web Developer</h6>

                            <p class="card-description">
                                Setiap Tujuan Pasti Ada Jalan
                            </p>
                            <div class="footer">
                                <a href="https://www.youtube.com/channel/UCdhUNfl7rheyG2yEIpKEqbQ" class="btn btn-just-icon btn-simple btn-youtube"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.facebook.com/vicky.d.fatahillah/" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://www.instagram.com/vickydrjat_" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}